In [1]:
#Your task is to create a Python script that analyzes the records to calculate each of the following:

#The total number of months included in the dataset.

#The net total amount of Profit/Losses over the entire period.

#The average of the changes in Profit/Losses over the entire period.

#The greatest increase in profits (date and amount) over the entire period.

#The greatest decrease in losses (date and amount) over the entire period.

In [2]:
"""
Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average  Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Sep-2013 ($-2196167)
"""

'\nFinancial Analysis\n----------------------------\nTotal Months: 86\nTotal: $38382578\nAverage  Change: $-2315.12\nGreatest Increase in Profits: Feb-2012 ($1926159)\nGreatest Decrease in Profits: Sep-2013 ($-2196167)\n'

In [3]:
import pandas as pd

df = pd.read_csv('Budget_Data.csv')

df.head(10)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503
5  Jun-2010         522857
6  Jul-2010        1033096
7  Aug-2010         604885
8  Sep-2010        -216386
9  Oct-2010         477532

In [4]:
df.tail()

        Date  Profit/Losses
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

In [5]:
df['Date'].head()

0    Jan-2010
1    Feb-2010
2    Mar-2010
3    Apr-2010
4    May-2010
Name: Date, dtype: object

In [6]:
type(df['Date'])

pandas.core.series.Series

In [7]:
df.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [8]:
df.describe()

       Profit/Losses
count   8.600000e+01
mean    4.463090e+05
std     5.363579e+05
min    -1.196225e+06
25%     1.821620e+05
50%     5.703280e+05
75%     7.952262e+05
max     1.170593e+06

In [9]:
#Calculate the total number of months included in the dataset
#num_months = The Number of months total
num_months = len(df)

num_months

86

In [10]:
profit_losses = df['Profit/Losses']

profit_losses

0     867884
1     984655
2     322013
3     -69417
4     310503
       ...
81    102685
82    795914
83     60988
84    138230
85    671099
Name: Profit/Losses, Length: 86, dtype: int64

In [11]:
#Calculate the net total amount of Profit/Losses over the entire period
#net_total = The net profit/loss
net_total = profit_losses.sum()

net_total

38382578

In [12]:
#Calculate the average of the changes in Profit/Losses over the entire period.
change = []

for i in range(1,len(profit_losses)):
    change.append(profit_losses[i] - profit_losses[i-1])
print(change)

[116771, -662642, -391430, 379920, 212354, 510239, -428211, -821271, 693918, 416278, -974163, 860159, -1115009, 1033048, 95318, -308093, 99052, -521393, 605450, 231727, -65187, -702716, 177975, -1065544, 1926159, -917805, 898730, -334262, -246499, -64055, -1529236, 1497596, 304914, -635801, 398319, -183161, -37864, -253689, 403655, 94168, 306877, -83000, 210462, -2196167, 1465222, -956983, 1838447, -468003, -64602, 206242, -242155, -449079, 315198, 241099, 111540, 365942, -219310, -368665, 409837, 151210, -110244, -341938, -1212159, 683246, -70825, 335594, 417334, -272194, -236462, 657432, -211262, -128237, -1750387, 925441, 932089, -311434, 267252, -1876758, 1733696, 198551, -665765, 693229, -734926, 77242, 532869]

In [13]:
#avg_change = The average change for all of the profits and losses rounded to two


avg_change = round(sum(change)/(num_months-1),2)
avg_change

-2315.12

In [14]:
#Calculate the greatest increase in profits (date and amount) over the entire period.
#max_change = The maximum change for all of the profits and losses rounded to two
max_change = max(change)
max_change

1926159

In [15]:
greatest_increase = []

greatest_increase.append("Feb-2012:")

greatest_increase.append(max_change)

greatest_increase

['Feb-2012:', 1926159]

In [16]:
#Calculate the greatest decrease in losses (date and amount) over the entire period.
#min_change = The minimum change for all of the profits and losses rounded to two

min_change = min(change)
min_change

-2196167

In [25]:
Budget_Data = {'Total Number of Months':[num_months], 
               'Total':[net_total], 
              'Average Change': avg_change, 
               'Maximum Profit':max_change, 
               'Maximum Loss': [min_change]}

In [26]:
print("Financial Analysis")
print("----------------------------")
Budget_Data

Financial Analysis
----------------------------

{'Total Number of Months': [86],
 'Total': [38382578],
 'Average Change': -2315.12,
 'Maximum Profit': 1926159,
 'Maximum Loss': [-2196167]}

In [27]:
df2 = pd.DataFrame(Budget_Data)

df2

,Total Number of Months,Total,Average Change,Maximum Profit,Maximum Loss
0,86,38382578,-2315.12,1926159,-2196167

In [ ]:
df2.to_csv('report.txt', index=False, sep= '\t')

In [28]:
df2

,Total Number of Months,Total,Average Change,Maximum Profit,Maximum Loss
0,86,38382578,-2315.12,1926159,-2196167